@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* General */

.container {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  font-size: 16px;
  border: 1px solid #ddd;
}

textarea:focus,
input:focus {
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #dad8d8;
  padding: 10px 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button {
  opacity: 0.5;
  padding: 5px 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  transition: 0.5s;
}

.button_always-active,
.button-active {
  cursor: pointer;
  opacity: 1;
}

.searchbox {
  position: relative;
}

.search {
  border: 0;
  border-radius: 5px;
  width: 250px;
  padding: 5px;
}

.search-hide {
  position: absolute;
}

.search-hide_left {
  top: calc(50% - 8px);
  left: calc(50% - 38px);
  cursor: text;
}

.search-hide_right {
  top: calc(50% - 9px);
  left: calc(50% - 13px);
}

/* Sidebar */

.sidebar {
  height: calc(50vh - 24px);
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden;
}

.listitem {
  padding: 25px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.active {
  background: #08c;
  color: white;
}

.listitem p {
  margin: 0;
}

.note-title {
  grid-column: 1 / -1;
  font-weight: 600;
}

.note-date {
  grid-column: 1 / 2;
  font-size: 12px;
  align-self: center;
}

.note-text {
  grid-column: 2 / 3;
}

/* Workspace */

.workspace {
  height: calc(50vh - 62px);
  padding: 25px;
}

.workspace input,
textarea {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  height: calc(50vh - 182px);
  padding: 10px;
  resize: none;
}
.workspace input {
  height: 50px;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Breakpoints */

@media (min-width: 640px) {
  .header {
    flex-direction: row;
    gap: 0;
  }

  .main {
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
    height: calc(100vh - 48px);
    border-bottom: none;
  }

  .workspace {
    width: 70%;
    height: calc(100vh - 48px);
  }

  .workspace input,
  textarea {
    width: 100%;
    height: calc(100vh - 170px);
  }
  .workspace input {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .button_always-active:hover,
  .button-active:hover {
    background-color: rgb(193, 193, 240);
  }

  .listitem:hover {
    background: #ddd;
  }

  .listitem.active {
    background: #08c;
    color: white;
  }
}
